
.cards {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
}

.img > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

input {
  width: 300px;
  font-size: 1.5rem;
  text-indent: 5px;
  margin-bottom: 3rem;
}
button {
  font-size: 1.5rem;
  margin-left: .5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 100;
}
